body{
    background-image: url(neon.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
image-resolution: ;

}
h1{background-color: antiquewhite;
border-width: 30%;

}


button{
    color: purple;
}
p{background-color: antiquewhite;}